* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    height: 500px;
    width: 700px;
    background-image: url("laptop.jpg");
    background-size: cover;

    /* background-repeat: no-repeat; */
}