#mydiv{
    height: 200px;
    width: 150px;
    background-color: lightgray;
    border: 4px solid black;
    margin-top: 20px;
    text-align: center;
    padding-top: 5px;
}

h1{
    width: 150px;
    background-color: aqua;
    border-right: 8px solid black;
    padding-left: 15px;
}

div{
    height: 100px;
    width: 100px;
    background-color: cadetblue;
    margin-top: 15px;
    text-align: center;
    border: 3px solid black;
}

#d1{
    border-radius: 20px;
}
#d2{
    border-radius: 30%;
}
#d3{
    border-radius: 50%;
}

.box{
    height: 200px;
    width: 300px;
    background-color: blueviolet;
    text-align: center;
    color: rgb(202, 147, 147);
    font-size: 55px;
    padding-top: 50px;
    margin-bottom: 100px;
    box-sizing: border-box;
}